#compare {
    color: rgb(0, 0, 0);
    font-family: Georgia, serif;
    font-size: 16px;
    height: auto;
    line-height: 24px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    text-align: left;
    width: 570px;
}
#ueberschrift h2{
    color: rgb(0, 0, 0);
    display: block;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: normal;
}
#ueberschrift{
    width: 570px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    text-align: left;
}

del {    
    background-color: #ffa0a0;
}  
ins {    
	background-color: #a0ffa0;  
}