#compare {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 210px;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 30px;
    width: 468px;
    height: auto;
}

#ueberschrift{
    text-align: center;
    padding-top: 40px;
}
#ueberschrift h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 33px;
}

del {    
    background-color: #ffa0a0;
}  
ins {    
	background-color: #a0ffa0;  
}