#compare {
    color: rgb(0, 0, 0);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 110px;
    line-height: 22px;
    margin-bottom: 22px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    width: 640px;
}
#compare h2{
    color: rgb(0, 0, 0);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    width: 640px;
}

del {    
    background-color: #ffa0a0;
}  
ins {    
	background-color: #a0ffa0;  
}