#compare {
    color: rgb(0, 0, 0);
    display: block;
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 19.488000869751px;
    margin-bottom: 15px;
    width: 520px;

    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 50px;
    height: auto;
}

#ueberschrift{
    color: rgb(0, 0, 0);
    display: inline;
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: auto;
    line-height: 27.9839992523193px;
    width: auto;
    padding-left: 60px;
    padding-top: 40px;
}

del {    
    background-color: #ffa0a0;
}  
ins {    
	background-color: #a0ffa0;  
}