
del {
    background-color: #ffa0a0;
}

ins {
    background-color: #a0ffa0;
}

#compare {
    color: rgb(0, 0, 0);
    font-family: SternTundra, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    height: 448px;
    line-height: 28px;
    padding-bottom: 30px;
    padding-left: 90px;
    width: 540px;
    height: auto;
    margin-bottom: 20px;
}

#ueberschrift{
    margin-bottom: 60px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    width: 940px;
    padding-left: 10px;
}
#ueberschrift h2{
    color: rgb(0, 0, 0);
    font-family: SternMetric, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
}
