#compare {
    color: rgb(51, 51, 51);
    display: block;
    font-family: SZTextRegular;
    font-size: 18px;
    height: 125px;
    line-height: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    width: 640px;
    height: auto;
}
#ueberschrift{
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 70px;
    width: 640px;
}
#ueberschrift h2{
    color: rgb(51, 51, 51);
    font-family: SZSansBold;
    font-size: 40px;
    font-weight: normal;
    line-height: 44px;
}

del {    
    background-color: #ffa0a0;
}  
ins {    
	background-color: #a0ffa0;  
}