body {
    background: white;

    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 #fff;
    margin: auto;
    outline: none;
    padding: 5px 0;
    position: relative;
    width: 150px;
    z-index: 10000;
    list-style: none;
}

h1 {
    font-size: 1em;
    padding: 5px;
    color: #777;
    margin: auto;
}

a {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: #777;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1;
    margin: 0;
    padding: 6px 10px;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

a:hover {
    background:  rgba(236, 236, 236, 0.68);
    background-image: -webkit-linear-gradient(top,   rgba(236, 236, 236, 0.68),  rgba(236, 236, 236, 0.68));
    background-image: -moz-linear-gradient(top,  rgba(236, 236, 236, 0.68),  rgba(236, 236, 236, 0.68));
    background-image: -ms-linear-gradient(top,  rgba(236, 236, 236, 0.68),  rgba(236, 236, 236, 0.68));
    background-image: -o-linear-gradient(top,  rgba(236, 236, 236, 0.68),  rgba(236, 236, 236, 0.68));
    background-image: linear-gradient(to bottom,  rgba(236, 236, 236, 0.68),  rgba(236, 236, 236, 0.68));
    border-top: 1px solid  rgba(236, 236, 236, 0.68);
    border-bottom: 1px solid  rgba(236, 236, 236, 0.68);
    color: #555;
    text-decoration: none;
}​